.info-container {
  max-width: 1200px;
}

.info-description {
  max-width: 750px;
  line-height: 1.6;
}

.icon-md {
  height: 32px;
  width: 32px;
  font-size: 2rem;
}

.card-description {
  line-height: 1.6;
}
